<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key ="Mail.From" value ="no-reply@hotmail.com"/>
    <add key ="Mail.Subject" value="VJ Batangas Lomi House"/>
    <add key ="Mail.To" value =""/>
    <add key ="Smtp.Hotmail" value ="smtp.live.com"/>
    <add key ="Smtp.Google" value ="smtp.google.com"/>
    <add key ="Mail.Outlook.User" value ="vjbatangaslomihouse@outlook.com"/>
    <add key ="Mail.Outlook.Password" value ="VJL0m!house"/>
    <add key ="Mail.Gmail.User" value =""/>
    <add key ="Mail.Gmail.Password" value =""/>
  </appSettings>
  <dataConfiguration defaultDatabase="VJLomiSQLDBConn">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data"
        name="System.Data.SqlClient" />
    </providerMappings>
  </dataConfiguration>
  
  <connectionStrings>
    <add name="VJLomiSQLDBConn"
         connectionString="Data Source=ceo\sqlexpress;initial catalog=VJLomiDB;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>